*{
    margin: 0;
    padding: 0;
}


.parent{
    background-color: #a2c0be;
    padding: 70px;
    text-align: center;
   
}
.il1{
    color: #c2d4d3 ;
    transform: rotate(-30deg);
}
.il2{
    color: white;
    font-size: 20px;
}
.il3{
   color: #c2d4d3; 
   transform: rotate(30deg);
}
.heading3{
    font-size: 26px;
}
.parent2{
justify-content: center;
    display: flex;
}
.par45{
margin-bottom: 45px;
    font-size: 20px;
    color: rgb(150, 149, 149);
}
.img2{
    margin-left: 80px;
    margin-right: 80px;
}
.ghj{
    font-size: 30px;
    margin-top: 8px;
}
.pl1{
margin-top: 20px;
    color: white;
    font-size: 20px;
margin-bottom: 10px;
}
.parent2 i{
    font-size: 25px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}
.parent2 i:hover{
    background-color: black;
    color: white;
}






.img1 ,
.img2 ,
.img3{

    width: 450px;
}
.ol1{

color: #a2c0be;

}
.child1{
margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
}
.upp1 img{

width: 472px;
height: 300px;
}
.upp1 img:hover{

    transform: scale( 1.2,1.2);
    transition: 1s;
    cursor: zoom-in;
}
.p89{
color: rgb(158, 155, 155);
   
    font-size: 20px;
    /* margin-left: 500px; */
    margin-bottom: 80px;
}
.img100{
/* margin-left: 430px; */
    /* width: 100px;
    height: 100px; */
    display: flex;
    justify-content: space-evenly;
}
.img90{
height: 100px;
width:100px ;
   /* margin-left: 250px; */
   margin-right: 250px;
  
}
.img000{
    width: 100px;
    height: 100px;
}
.img100 div{

    /* padding: 80px; */
width: 400px;
}
.img100 h2{

margin-bottom: 15px;

    margin-top: 15px;
}
.parent090{
justify-content: center;
  display: flex;
}
.taim45{
    
padding: 40px;
background-color: #a2c0be;
    width: 520px;
    height: 620px;
}
.taim44{
background-color: #6c757d;
    width: 600px;
    height: 700px;
   
}
.h90{
color: #52595e;
    font-size: 33px;
}
.la44{
    color: #6c757d;
    padding-top :50px;
    display: block;
    font-size: 30px;
}
.in44{
width: 100%;
height: 50px;
border-radius: 5px;
border: none;
}
.bu78{
background-color: #52595e;
    width: 150px;
    height: 40px;
    border-radius: 30px;
  margin-top: 30px;
  border: none;
  color: azure;
}

.e7pl{
margin-top: 250px;
margin-left: 270px;
}
.mas1{
font-size: 30px;
    margin-left: 230px;
    color: white;
}
.mn67{
color: #9fa3a7;
font-size: 18px;    
margin-left: 100px;

}
.kla1{

    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.kla1 div{

    width: 400px;
    
}

.kla4{
    background-color: #333333;
    padding: 150px;
}
.kla1 h2{


color: white;
font-size: 30px;
margin-bottom: 20px;
}
.kla1 p{
font-size: 22px;
    color:  grey;;
}
.kla1 i{
color: grey;
    font-size: 30px;
padding-left:  5px;
}
.mls12{
    font-size: 22px;
    color: #8f9498;
    text-align: center;
}
.heart1{
    color: red;
}
.pks1 p:hover,
.kla1 i:hover{
color: white;

}



